:root {
   --color-prime-light: #2b7fff;
   --color-prime-dark: #011c44;
}
/* base */
* {
   font-family: Roboto;
   line-height: 1.5;
}
*,
*::before,
*::after {
   box-sizing: border-box;
}
.container {
   width: 100%;
   max-width: 1288px;
   margin: 0 auto;
}
ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-top: 0;
}
/* header */

.header-container {
   position: absolute;
   height: 106px;
   top: 0;
   left: 0;
   width: 100%;
   background: rgba(255, 255, 255, 0.25);
   backdrop-filter: blur(5px);
   display: flex;
   align-items: center;
   gap: 40px;
}
.header-nav {
   display: flex;
   flex-grow: 1;
   align-items: center;
   gap: 40px;
}

.header-menu {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 56px;
   flex-grow: 1;
   justify-content: center;
}
.header-right-menu .header-menu {
   gap: 32px;
}
.header-ico {
   fill: var(--color-prime-dark);
}
.header-ico:hover {
   fill: var(--color-prime-light);
}
/* header end */

/* main */
.main-container {
   background-image: linear-gradient(
         89.38deg,
         #ffffff 30.62%,
         rgba(255, 255, 255, 0.850898) 41.31%,
         rgba(255, 255, 255, 0.193204) 58.65%,
         rgba(255, 255, 255, 0) 72.78%
      ),
      url('../images/imgMain.jpg');
   background-position: right;
   background-repeat: no-repeat;
   /* background-position: 350px top; */
   /* background-size: cover; */
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.main-container-left {
   width: 530px;
   flex-grow: 1;
}
.main-container-left {
   width: 630px;
   flex-grow: 4;
}
.main-container button {
   margin-top: 40px;
   padding: 16px 32px;
}
.main-container-button-text p {
   /* text-align: start; */
   padding: 0 20px;
}
.main-container h1 {
   max-width: 530px;
   line-height: 0.8;
   margin: 0;
}
/* main end */
/* about */
.about-section p {
   color: var(--color-prime-dark);
   font-size: 22px;
}
.about-section p span {
   font-weight: 600;
}
/* about end */
.carousel-button {
   width: 44px;
   height: 44px;
   padding: 0;
   border-radius: 50%;
   background-color: transparent;
   border: 1px solid var(--color-prime-dark);
   display: flex;
   flex-shrink: 0;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   fill: var(--color-prime-dark);
}
.carousel-button.next {
   transform: rotate(180deg);
}
.carousel-button:hover {
   background-color: var(--color-prime-light);
   border-color: white;
   fill: white;
}

.section {
   padding: 96px 0;
}
.why-ico {
   fill: var(--color-prime-light);
}
/* button */
.button {
   width: 281px;
   height: 53px;
   padding: 16px 32px 16px 32px;
   border-color: var(--color-prime-light);
   border-radius: 32px;
   opacity: 0px;
   background-color: var(--color-prime-light);
   color: white;
   font-size: 18px;
   font-weight: 600;
   line-height: 21.09px;
   cursor: pointer;
}
.button:hover {
   color: var(--color-prime-dark);
   background-color: transparent;
}

/* links */
.link {
   color: var(--color-prime-dark);
   transition: color 0.3s;
}
.link:hover {
   color: var(--color-prime-light);
}
h1 {
   color: var(--color-prime-light);
   font-family: 'Play', sans-serif;
   font-weight: 700;
   font-family: Play;
   font-size: 140px;
}
h2 {
   color: var(--color-prime-dark);
   font-family: 'Play', sans-serif;
   font-size: 64px;
   text-align: center;
}
.why-section h2 {
   max-width: 432px;
   margin: 0 auto;
}
h2 span {
   color: var(--color-prime-light);
   font-family: 'Play', sans-serif;
}

/* procedure */
.formats-list {
   display: flex;
   flex-wrap: wrap;
   gap: 16px;
}
.format-card {
   height: 456px;

   border: 1px solid lightgray;
   border-radius: 16px;
   transition: transform 0.3s;
   background-image: linear-gradient(
      180.05deg,
      rgba(1, 28, 68, 0) 48.53%,
      rgba(1, 28, 68, 0.725825) 84.61%,
      var(--color-prime-dark) 101.39%
   );
}
.format-card:hover {
   transform: scale(1.05);
}
.format-item {
   flex-basis: calc((100% - 32px) / 3);
}
.proc-img {
   max-width: 344px;
   border-radius: 120px 4px 120px 4px;
}
.proc-container {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 32px;
}
/* procedure end */
/* why */
.why-list {
   display: flex;
   gap: 56px;
   justify-content: center;
}
.why-card {
   display: flex;
   flex-direction: column;
   height: 180px;
   border: 1px solid lightgray;
   border-radius: 16px;
   align-items: center;
   justify-content: space-around;
}
.why-item {
   flex-basis: calc((100% - 112px) / 3);
   max-width: 316px;
   text-align: center;
}
/* why end */
/* contact */
.contact-container {
   display: flex;
   gap: 32px;
}
.contact-map {
   border: none;
   border-radius: 32px;
   flex-shrink: 0;
}
/* contact end */

/* footer */
.footer-container {
   display: flex;
   padding: 56px 100px;
   gap: 186px;
}
.footer-address {
   font-style: normal;
}
.footer {
   position: relative;
   background-color: var(--color-prime-dark);
   background-image: url('../images/footer.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
   overflow: clip;
}
.footer::after {
   background-image: url('../images/medicines_footer.png');
   background-repeat: no-repeat;
   position: absolute;
   width: 278px;
   height: 213px;
   right: -30px;
   bottom: -60px;

   content: '';
   /* background-size: 278px 213px; */
}
.footer-social {
   display: flex;
   gap: 24px;
   padding-top: 16px;
}
.footer-ico {
   fill: white;
}
.footer-ico:hover {
   fill: var(--color-prime-light);
}
footer a {
   color: white;
   text-decoration: none;
   font-weight: 400;
}
.footer-politic-protected {
   color: #747272;
}

/* footer end */
/* modal */
.backdrop {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 20px 0;
   background-color: rgba(2, 32, 75, 0.4);
   display: flex;
   align-items: center;
   justify-content: center;
   transition: opacity 0.3s, visibility 0.3s;
}
.modal {
   position: relative;
   width: 100%;
   height: 100%;
   max-width: 725px;
   max-height: 680px;
   background-color: var(--color-prime-dark);
   background-image: url('../images/footer.png');
   border-radius: 48px;
}
.modal-btn-close {
   position: absolute;
   top: 42px;
   right: 42px;
}
.backdrop.is-hidden {
   /* display: none; */
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}
