.text-prime {
   color: var(--color-prime-dark);
}
.text-color-white {
   color: var(--color-white);
}
.text-bold {
   font-weight: 600;
}
.text-size18 {
   font-size: 18px;
}

.text-size22 {
   font-size: 22px;
}
.text-uppercase {
   text-transform: uppercase;
}
