.button {
   width: 281px;
   height: 53px;
   padding: 16px 32px 16px 32px;
   border-color: var(--color-prime-light);
   border-radius: 32px;
   opacity: 0px;
   background-color: var(--color-prime-light);
   color: white;
   font-size: 18px;
   font-weight: 600;
   line-height: 21.09px;
   white-space: nowrap; /* Запрещает перенос текста */
   min-width: max-content;
   cursor: pointer;
}
.button:hover {
   color: var(--color-prime-light);
   background-color: transparent;
}
