.input {
   //    position: relative;

   //    &__label {
   //       position: absolute;
   //       top: 16px;
   //       left: 42px;
   //    }

   &__control {
      width: 100%;
      padding: 18px 33px;
      color: white;
      border: 2px solid var(--color-form-secondary);
      border-radius: 32px;
      background-color: transparent;
      // background-color: transparent;

      // &:focus {
      //   border-color: var(--color-brand-normal);
      //   outline: none;
      // }

      // &::placeholder {
      //   color: var(--color-secondary-dark);
      //   font-size: 16px;
      //   line-height: 1.17;
      // }

      // &:focus::placeholder {
      //   color: var(--color-primary-dark);
      // }

      // @media screen and (min-width: $bp-tablet) {
      //   padding: 16px 42px;
      // }
   }
}
